/* HTML, Body styles, Page wrapper
--------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100%;
    margin-bottom: 200px;
}

.wrapper {
    height: 100%;
}

/* Navigation Bar
--------------------------------------------------- */
.logo {
    height: 60px;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #353335;
}

ul {
    text-align: center;
}

.custom-toggler.navbar-toggler {
    border-radius: 0;
    border: none;
    padding: 0 0 0 0;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(53,51,53)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Jumbotron styles
--------------------------------------------------- */
.jumbo-container {
    padding: 10%;
}

.display-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    color: #353335;
}

.jumbo-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 40px;
    padding: 15px 40px;
}

/* Expertise Section styles
--------------------------------------------------- */



/* Recent Work Section styles
--------------------------------------------------- */
.work-container {
    margin-top: 40px;
    margin-bottom: 10px;
}

.proj-btn {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 40px;
    padding: 10px 40px;
}

.text-left {
    padding-left: 50px;
}

.text-right {
    padding-right: 50px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .75em;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.exp-line {
    margin-bottom: 70px;
}

.port-line {
    margin-bottom: 70px;
}

.sub-line {
    margin-bottom: 50px;
}

.p-project {
    color: #616161;
}

.p-text {
    font-size: 14px;
    color: #ababab;
}

.exp-container {
    margin-top: 100px;
    margin-bottom: 85px;
}

.port-container {
    margin-top: 100px;
    margin-bottom: 85px;
}

.img-fluid {
    margin-bottom: 40px;
}

.content-rows {
    line-height: 25px;
    margin-top: 50px;
    padding: 0 20px 0 20px;
}

.icon {
    color: #0b80fb;
    margin-bottom: 20px;
}

.content-heading {
    margin-bottom: 20px;
}

.project-one {
    margin-top: 80px;
    margin-bottom: 10px;
}

/* Wobble Button Animation
--------------------------------------------------- */
@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }

    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }

    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }

    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }

    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}

@keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }

    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }

    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }

    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }

    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
  
.hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Contact Me Section
--------------------------------------------------- */
.bottom-jumbo {
    background-color: #d0e2e3;
    margin-bottom: 50px;
    padding: 100px 0;
}

/* Sticky Footer Styles
--------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px; /* Set the fixed height of the footer */
    /* line-height: 20px; Vertically center the text */
    background-color: #353335;
    padding-top: 50px;
}

.footer-logo {
    height: 60px;
    margin-bottom: 40px;
}

.foot-icon {
    color: #ababab;
    margin-bottom: 10px;
}

.foot-icon:hover {
    color: #f4f0f0;
}

.icon-space {
    margin-right: 10px;
}

.by-line {
    color: #ababab;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .85em;
}