body, html {
    height: 100%;
}

.wrapper {
    height: 100%;
}

.logo {
    height: 60px;
}

.jumbotron {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

.btn {
    border-radius: 40px;
    padding: 10px 40px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.p-text {
    color: #ababab;
}